*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.title {
	color: red;
}
.price {
	color: green;
	font-weight: bold;
}
.description {
	color: brown;
	line-height: 1.1;
}
.app{
    width: 100vw;
    height: 100vh;
}
